#msg{
    text-align: center;
}

#userAccount{
    width: 400px;
    margin-right: auto;
    position: absolute;
    overflow: auto;
    margin-left: 210px;
    margin-top: 50px;

}

#edit{
    margin-left: 600px;
    margin-top: 30px;
}


.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 50%;
    border: 2px solid #5E88BB;
    margin-top: 10px;
}

#userBanner{
    position: absolute;
    width: 50%;
    margin-left: -200px;    
    background-color:rgb(230, 242, 255);
    height: 100%;
    padding-bottom: 500px;
    margin-top: 55px;
    top:0;
    bottom: 0;
}

#userMenu{
    display: ruby-base;
}

#user-menu{
    padding-top: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

table{
    width:100%;
}

table td.shrink {
    white-space:nowrap
}
table td.expand {
    width: 99%
}

#delete{
    display: block;
    margin-left: 100px;
    margin-top: 0px;
    padding-top: 6px;
    margin-bottom: -32px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}